{% load static %}

<footer>
  <div class="footer-items">
    <img src="{% static './images/logo.png' %}" class = "logo"/>
    <div class="footer-columns">
      <ul>
        <li><a href="#">Contact Me</a></li>
        <li><a href="#">Buy me a Coffe</a></li>
        <li><a href="#">Something 1</a></li>
      </ul>
      <ul>
        <li><a href="#">Contact Me</a></li>
        <li><a href="#">Buy me a Coffe</a></li>
        <li><a href="#">Something 1</a></li>
      </ul>
    </div>
  </div>

  <p>Images from<a href="https://www.freepik.es/foto-gratis/chef-vista-lateral-horneando-deliciosa-pizza_37516246.htm#&position=0&from_view=collections"> Freepik</a>
  </p>
</footer>
